header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background: #3498db;
    .nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            list-style-type: none;
          }
        
          li { display: inline-block; }
        
          a {
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            color: #000000;
            &:hover,&:focus,&:active {
                background-color: red;
              }
          }
    } 
}